
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */






	.fancybox-custom .fancybox-skin {
		box-shadow: 0 0 50px #222;
	}

/*SITE HEADER WRAPPER*/

#caption {margin-top:6%;}	
	
#siteheader {	
	height:300px;
	background-color:#00CC99;
	margin: 0 auto;
	padding-bottom:5%;
	padding-top:3%;

	
	}


	
/*NAVIGATION*/
	
#navigationone {	
		text-align:center;
		text-decoration:none;
		
	
	}
	
	
#navigationone	li {
		display: inline;
		padding:.5em;
		font-size:200%;
		color:#fefefe;
		font-weight: 200;

	 }	
	 
	 
#name {margin-right:50%;

	
	 }



			
/*BODY*/


#bodywrapper {max-width:1250px;
	margin-left:20%;
	margin-top:10%;
	margin-bottom:10%;}	 
	 

body {
	font-size:20px;
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
	margin:0 auto;
	text-align:left;
	
	 }
	
#imageone {clear:both;
		width:28%;
		margin:0 1%;
		float:left;
		margin-left:1%;
	
	 }	
	 
 
	 
	 #imagetwo {
		 
	 		width:28%;
	 		margin:0 1%;
	 		float:right;
	 		margin-left:1%;
	
	 	 }
		 
		 
		 
		 
		 	 

/*INTRODUCTIONS (H2 + H3)*/
	 
#introone {font-size:550%;
	line-height:130%;
	text-align:center;
	font-weight: 600;

	}	
	
#subone {font-size:100%;
	text-align:center;
	font-weight: 200;

	} 

/*TITLE*/

#titleone {font-weight:200;
	line-height:2em;
	font-size:150%;

	 }	


/*HOVER LINKS*/
	 
a: hover {text-decoration:none;
	
	 }	
	 
	 
a {
	text-decoration:none;
	color:white;

	}


a:link {
	 color:white;
	 
	}
	
	
a:hover {
	  color:white;
	  
	 }
	 
	 
a:active {
	  color:white;
	  
	 }	 	
	
/*FOOTER*/

footer     {
    position:fixed;
	margin-top:20px;
    left:0px;
    bottom:0px;
    height:55px;
    width:100%;
    background-color:#000;
	color:white;
	font-size:75%;
	text-align:right;


	 }	 	


/*FOOTER SOCIAL MEDIA ICON*/

#socialmedia {margin-top:12px;
	margin-right:15px;}
	 
#socialmedia li {
	display:inline;
    list-style-type: none;
    padding: .3%;
	margin-top: .5%;
    overflow: hidden;
  	text-align:center;}


	
	 
/*NAV HOVER EFFECT*/
	 
.shrink {
	  display: inline-block;
	   -webkit-transition-duration: 1s;
	   transition-duration: 1s;
	   -webkit-transition-property: transform;
	   transition-property: transform;
	   -webkit-transform: translateZ(0);
	   transform: translateZ(0);
	   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	 }
	 
	 .shrink:hover, .shrink:focus, .shrink:active {
	   -webkit-transform: scale(0.9);
	   transform: scale(0.9);
	 }	 	 


/*IMAGE HOVER EFFECT*/


	 html {
	   min-height: 100%;
	 }


	 h1 {
	   color: white;
	   padding-left: 10px;
	 }

	 #hover {
	   color: rgba(188, 175, 204, 0.9); 
	 }

	 h2#testimonials {
	   color: rgb(94, 244, 177);
	 }

	 div#all {
	   width: 100%;
	   height: 100%;
	 }

	 /* generic css */
	 .view {
	     margin: 10px;
	     float: left;
	     border: 10px solid #fff;
	     overflow: hidden;
	     position: relative;
	     text-align: center;
	     box-shadow: 1px 1px 2px #e6e6e6;
	     cursor: default;
	     background: #33cccc  
	 }
	 .view .mask, .view .content {
	     width: 900px;
	     height: 600px;
	     position: absolute;
	     overflow: hidden;
	     top: 0;
	     left: 0
	 }
	 .view img {
	     display: block;
	     position: relative
	 }
	 .view h2 {
	     color: #000;
	     text-align: center;
	     position: relative;
	 	font-size:350%;
	 	font-family: 'Ek Mukta', sans-serif;
	 	font-weight: 400;
		line-height:1em;
	     padding: 10px;
	     background: rgba(0, 0, 0, 0.8);
	     margin: 20px 0 0 0;
		 padding-top:20%;
	 }
	 .view p {
 	 	font-size:150%;
 	 	font-family: 'Ek Mukta', sans-serif;
 	 	font-weight: 200;
 		line-height:2em;
	     position: relative;
	     color: #fff;
	     padding: 0px 20px 0px;
	     text-align: center
	 }
	 .view a.info {
	     display: inline-block;
	     text-decoration: none;
	     padding: 7px 14px;
		 margin-top:10%;
	     background: #33cc99;
	     color: #fff;
 	 	font-size:100%;
 	 	font-family: 'Ek Mukta', sans-serif;
 	 	font-weight: 600;
 		line-height:1em;
	     box-shadow: 0 0 0px #000
	 }
	 .view a.info:hover {
	     box-shadow: 0 0 0px #000
	 }


	 /*3*/

	 .view-tenth img { 
	     transform: scaleY(1);
	     transition: all .7s ease-in-out;
	 }
	 .view-tenth .mask { 
	     background-color: rgba(255, 231, 179, 0.3); 
	     transition: all 0.5s linear;
	     opacity: 0;
	 }   
	 .view-tenth h2{
	     background: transparent;
	     margin: 20px 40px 0px 40px;
	     transform: scale(0);
	     color: #333;
	     transition: all 0.5s linear;
	     opacity: 0;
	 }
	 .view-tenth p {
	     color: #333;
	     opacity: 0;
	     transform: scale(0);
	     transition: all 0.5s linear;
	     padding-
	 }
	 .view-tenth a.info { 
	     opacity: 0;
	     transform: scale(0);
	     transition: all 0.5s linear;
	 }


	 .view-tenth:hover img { 
	   -webkit-transform: scale(10);  
	   transform: scale(10);
	     opacity: 0;
	 }

	 .view-tenth:hover .mask { 
	     opacity: 1;
	 }                                                                            
	 .view-tenth:hover h2,
	 .view-tenth:hover p,
	 .view-tenth:hover a.info{ 
	     transform: scale(1);
	     opacity: 1;
	 }
	 
	 
	 
/*IMAGE GRID*/
	 
