
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */






	.fancybox-custom .fancybox-skin {
		box-shadow: 0 0 50px #222;
	}

/*SITE HEADER WRAPPER*/

#caption {margin-top:6%;}	
	
#siteheader {	
	top:0;
	right:0;
	height:50.78%;
	background-color:black;
	width:40.41%;
	padding-bottom:5%;
	padding-top:3%;
	position:fixed;
	margin-right:2.4%;
	
	}


	
/*NAVIGATION*/
	

	
#navigationone {	
		text-align:center;
		text-decoration:none;
		
	
	}
	
	
#navigationone	li {
		display: inline;
		padding:.5em;
		font-size:100%;
		color:#000;
		font-weight: 200;
		background-color:none;
		

	 }	
	 
	 
#name {margin-right:50%;

	
	 }



			
/*BODY*/


#bodywrapper {

	margin-top:10%;
	margin-bottom:10%;}	 
	 

body {
	font-size:20px;
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
	text-align:left;
 	margin:0 auto;
	width:100%;
	
	
	 }
	

/*FLOATING IMAGES*/
	 
#containerbody {
	padding-left:13%;
	clear:both;
		position:relative;
		 height:3100px;
		 width:43.5%;
		 background-color:none;
		 margin-top:0%;
		 padding-bottom:8.7%;
	 }

	 
#image1 {float:right;
	
	}	
	 
	 
#image2 {clear:both;
		float:right;
	
	}
	

#image3 {clear:both;
		float:right;
	
		}	

#image4 {clear:both;
		float:right;
	
		}
	

#image5 {clear:both;
		float:right;
	
		}
		
#image6 {clear:both;
		float:right;
	
		}
	

#image7 {clear:both;
		float:right;
	
		}	
		 	 				
	 	 

/*TESTING*/
		






		
	 
#introone {font-size:250%;
	line-height:130%;
	text-align:left;
	font-weight: 600;
	margin-top:20%;
	padding-bottom: 3.7%;
	color:white;

	

	}	
	
#subone {font-size:200%;
	text-align:left;
	font-weight: 200;
	color:white;
	margin-left:12%;

	} 

/*TITLE*/
	
	

#titleone {font-weight:200;
	line-height:2em;
	font-size:150%;
	margin-left:10%;

	 }	


/*HOVER LINKS*/
	 
a: hover {text-decoration:none;
	
	 }	
	 
	 
a {
	text-decoration:none;
	color:#000;

	}


a:link {
	 color:#000;
	 
	}
	
	
a:hover {
	  color:blue;
	  
	 }
	 
	 
a:active {
	  color:#000;
	  
	 }	 	
	
/*FOOTER*/

footer     {
    position:fixed;
	margin-top:20px;
    left:0px;
    bottom:0px;
    height:55px;
    width:100%;
    background-color:#000;
	color:white;
	font-size:75%;
	text-align:right;
	


	 }	 	


/*FOOTER SOCIAL MEDIA ICON*/

#socialmedia {margin-top:12px;
	margin-right:15px;}
	 
#socialmedia li {
	display:inline;
    list-style-type: none;
    padding: .3%;
	margin-top: .5%;
    overflow: hidden;
  	text-align:center;}


	
	 
/*NAV HOVER EFFECT*/
	 
.shrink {
	  display: inline-block;
	   -webkit-transition-duration: 1s;
	   transition-duration: 1s;
	   -webkit-transition-property: transform;
	   transition-property: transform;
	   -webkit-transform: translateZ(0);
	   transform: translateZ(0);
	   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	 }
	 
	 .shrink:hover, .shrink:focus, .shrink:active {
	   -webkit-transform: scale(0.9);
	   transform: scale(0.9);
	 }	 	 


/*IMAGE HOVER EFFECT*/


	 html {
	   min-height: 100%;
	 }


	 h1 {
	   color: white;
	   padding-left: 10px;
	 }

	 #hover {
	   color: rgba(188, 175, 204, 0.9); 
	 }

	 h2#testimonials {
	   color: rgb(94, 244, 177);
	 }

	 div#all {
	   width: 100%;
	   height: 100%;
	 }

	 /* generic css */
	 .view {
	     margin: 10px;
	     float: left;
	     border: 0px solid #fff;
	     overflow: hidden;
	     position: relative;
	     text-align: center;

	     cursor: default;
	     background: #000;  
		 opacity: 1;
	 }
	 .view .mask, .view .content {
	     width: 750px;
	     height: 422px;
	     position: absolute;
	     overflow: hidden;
	     top: 0;
	     left: 0
	 }
	 .view img {
	     display: block;
	     position: relative
	 }
	 .view h2 {
	     color: #000;
	     text-align: left;
	     position: relative;
	 	font-size:350%;
	 	font-family: 'Ek Mukta', sans-serif;
	 	font-weight: 400;
		line-height: 1em;
	     padding: 10px;
	     background: rgba(0, 0, 0, 0.8);
	     margin: 20px 0 0 0;
		 padding-top:10%;
	 }
	 .view p {
 	 	font-size:150%;
 	 	font-family: 'Ek Mukta', sans-serif;
 	 	font-weight: 200;
 		line-height:1.5em;
	     position: relative;
	     color: #fff;
	     padding: 0px 20px 0px;
	     text-align: left;
		 padding-left:7.5%;
	 }
	 .view a.info {
	     display: inline-block;
	     text-decoration: none;
	     padding: 7px 14px;
		 margin-top:9%;
	     background: #444;
	     color: #fff;
 	 	font-size:100%;
 	 	font-family: 'Ek Mukta', sans-serif;
 	 	font-weight: 400;
 		line-height:1em;
	     box-shadow: 0 0 0px #000
	 }
	 .view a.info:hover {
	     box-shadow: 0 0 0px #000
		 
	 }


	 /*3*/

	 .view-tenth img { 
	     transform: scaleY(1);
	     transition: all .3s ease-in-out;
	 }
	 .view-tenth .mask { 
	     background-color: #000; 
	     transition: all .7s linear;
	     opacity: 0;
	 }   
	 .view-tenth h2{
	     background: transparent;
	     margin: 20px 40px 0px 40px;
	     transform: scale(0);
	     color: #fff;
	     transition: all .3s linear;
	     opacity: 0;
	 }
	 .view-tenth p {
	     color: #666;
	     opacity: 0;
	     transform: scale(0);
	     transition: all 0.3s linear;
	     padding-
	 }
	 .view-tenth a.info { 
	     opacity: 0;
	     transform: scale(0);
	     transition: all 0.3s linear;
	 }


	 .view-tenth:hover img { 
	   -webkit-transform: scale(10);  
	   transform: scale(10);
	     opacity: 0;
	 }

	 .view-tenth:hover .mask { 
	     opacity: 1;
	 }                                                                            
	 .view-tenth:hover h2,
	 .view-tenth:hover p,
	 .view-tenth:hover a.info{ 
	     transform: scale(1);
	     opacity: 1;
	 }
	 
	 
	 
/*MEDIA SCREEN*/
	 
	 
	 @media screen and (max-width:1140px) { /*THIS IS THE CHANGE IN THE PAGE*/
		 
		 
		 
		 
/*JAVASCRIPT*/
		 
<script type="text/javascript">



</script>		





 
