/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

<style>

section {
  margin-left: 400px
  text-align:left;
  font-family:helvetica;
}

#dogs { 
    text-align:left;
    font-family:helvetica;
	font-size:12px;
	line-height:120%;
		width:400px;}
	
#cats { 
	    text-align:left;
	    font-family:helvetica;
		font-size:12px;
		line-height:120%;
		width:400px;
		padding:0px;}
		

h1 {font-family:helvetica;
	font-size:50px;
	text-align:center;
	color:#FF6699;
	font-weight:bold;
	padding:50px;}


footer { 
  font-family:helvetica;
      right: 5px;
}

em {font-weight:bold;}
	
nav {font-size:15px;
	font-family:helvetica;}

#nav {
width:700px;
margin:0 auto;
list-style:none;
margin-left: auto;
margin-right: auto;
width: 60%;
background-color: #ff6699;}

#nav li {
float:left;}

#nav a {
display:block;
text-align:center;
width:100px; 
text-decoration:none;}


  
ul {
      list-style-type: none;
      margin: 20px;
      padding: 20px;
      overflow: hidden;
	  text-align:center;}



 
 
a:visited {color: #000000;
}
a:hover {color: #FF6699;
}		
a:visited {text-decoration:none;
}				
a:link {text-decoration: none;
} 


footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 20px;
  background-color: #FF6699;
  width: 100%;
  
</style>
